/.idea
Homestead.json
Homestead.yaml
.env
.phpunit.result.cache
.vscode/
/node_modules

#For Master branch
/.idea
Homestead.json
Homestead.yaml
.env
.phpunit.result.cache
.vscode/
/node_modules
webpack.config.js
README.md
phpunit.xml
package.json
package-lock.json
composer.lock
composer.json
artisan
.styleci.yml
.env.example
.editorconfig