#domain {
    header {
        background-color: inherit;
        h1 {
            margin: 0;
            padding: 0;
        }
        hr {
            border: none;
            border-bottom: 5px solid var(--divisor);
            width: 50%;
        }
    }
    article {
        form {
            div {
                &.label {
                    display: flex;
                    flex-direction: column;
                    margin: 0 50px;
                    border: 1px solid var(--dark);
                    padding: var(--space);
                    border-radius: var(--space);
                    input {
                        border: none;
                    }
                }
            }
        }
    }
}